* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Serif;
    font-weight: 600;
}
body {
    height: 100vh;
    align-content: center;
    text-align: center;
    background: #ace;
}
.container {
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
}
label {
    font-size: 36px;
}
.divRED .labelGroup * {
    color: #f00;
}
.divGREEN .labelGroup * {
    color: #0f0;
}
.divBLUE .labelGroup * {
    color: #00f;
}
.labelRED {
    text-shadow: 1px 1px 2px #0f0, -1px -1px 2px #00f;
}
.labelGREEN {
    text-shadow: 1px 1px 2px #f00, -1px -1px 2px #00f;
}
.labelBLUE {
    text-shadow: 1px 1px 2px #f00, -1px -1px 2px #0f0;
}
input[type="range"] {
    width: 255px;
    margin: 5px auto 25px;
}

.labelGroup {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: center;
}
.labelGroup div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.labelGroup div input {
    width: 50px;
    height: 25px;
    text-align: center;
    background: #fff;
    border: 1px #000;
    border-style: none solid solid;
    font-size: 18px;
    border-radius: 8px 0;
}
.labelGroup div span {
    text-transform: capitalize;
    font-size: 10px;
    background: #fff;
    border: 1px #000;
    border-style: solid solid none;
    border-radius: 0 8px;
}


.outputSection {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: center;
}
.outputSection div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.outputSection div input {
    height: 50px;
    text-align: center;
    background: #fff;
    border: 1px #000;
    border-style: none solid solid;
    font-size: 20px;
    border-radius: 8px 8px 0 0;
}
.outputSection div input#outputRGB {
    width: 200px;
}
.outputSection div input#outputHEX {
    width: 111px;
}
.outputSection div span {
    text-transform: capitalize;
    font-size: 16px;
    background: #fff;
    border: 1px #000;
    border-style: solid solid none;
    border-radius: 0 0 8px 8px;
}

@media only screen and (max-width: 350px) {
    .outputSection div input {
        height: 40px;
        font-size: 16px;
    }
    .outputSection div input#outputRGB {
        width: 150px;
    }
    .outputSection div input#outputHEX {
        width: 85px;
    }
    .outputSection div span {
        font-size: 14px;
    }
}
