* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://images.unsplash.com/photo-1647961154167-055527592cbb?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fGdyYXBoaWNhbCUyMGNvbG9yJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    margin: 0;
    height: 100vh;
    min-width: 100%;
    display: flex;
}
.extra-img {
    height: 100vh;
    text-align: center;
    align-content: center;
}
.formContainer {
    max-width: 40%;
    align-content: center;
    margin-left: 20px;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

@media only screen and (max-width: 768px) {
    .formContainer {
        max-width: 50%;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .formContainer {
        max-width: 100%;
        margin-left: 0;
    }
    .extra-img {
        display: none;
    }
}
